.buttons_login_signup{
    -fx-background-color: #CACACA;
    -fx-font-family: 'Georgia';
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.nav-bar{
    -fx-background-color: #36332F;
    -fx-border-color:  #000000;
    -fx-border-width:  5 3 5 3;
}

.btn-nav-bar{
    -fx-background-color: rgba(75, 73, 70,0.3);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0, 0, 3);
    -fx-pref-width: 160px;
    -fx-pref-height: 50px;
    -fx-cursor: hand;
}

.btn-nav-bar:hover{
    -fx-background-color: rgba(37, 38, 35,0.3);
}

.btn-profile{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0, 0, 3);
    -fx-background-color: rgba(75, 73, 70,0.3);
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0.5;
}

.btn-profile:hover{
    -fx-background-color: rgba(37, 38, 35,0.3);
}

.btn-menu-left{
    -fx-background-color: rgba(75, 73, 70,0.3);
    -fx-pref-width: 188px;
    -fx-pref-height: 72px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0, 0, 3);
}

.btn-menu-left:hover{
    -fx-background-color: rgba(37, 38, 35,0.3);
}

.btn-show{
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0, 0, 3);
    -fx-cursor: hand;
}

.btn-show:pressed{
    -fx-cursor: closed-hand;
}

.btn-show:hover{
    -fx-background-color: whitesmoke;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0.4, 0, 3);
}

.btn-shop{
    -fx-background-color: #228B22;
    -fx-cursor: hand;
}

.btn-shop:hover{
    -fx-background-color: #459D45;
}

.center-panel {
    -fx-background-color: #36332F;
    -fx-background-radius: 20px;
    -fx-padding: 15px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.5, 0, 2);
}

.center-panel:hover{
    -fx-effect: dropshadow(gaussian, rgba(0,0.5,0,0.5), 17, 0.6, 0, 2);
}

.panel-juegos{
    -fx-background-color: #f5f5f5;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.1, 0, 2);
}

.panel-juegos:hover{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0.4, 0, 3);
}

.panel-juegos .image-view{
    -fx-cursor: hand;
}

.panel-juegos .image-view:pressed{
    -fx-cursor: closed-hand;
}

.panel-juegos .label{

    -fx-layout-x: 1.0;
    -fx-layout-y: 21.0;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 14.0;
    -fx-background-fills: #000000;
}

.panel-juegos #base {

    -fx-layout-x: 1.0;
    -fx-layout-y: 21.0;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 10.0;
    -fx-background-fills: #000000;
}

#gratis{

    -fx-background-color:  #30B0F9;
    -fx-background-radius:  4px;
}

.image-game{
    -fx-cursor: hand;
}

.image-game:pressed{
    -fx-cursor: closed-hand;
}

.card_games{
    -fx-background-color: #f5f5f5;
    -fx-border-color: #cccccc;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.1, 0, 2);
}

.card_games:hover{
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0.1, 0, 4);
}
